body{
    background-color:  rgb(248, 207, 231);
     
}

hr{
color: antiquewhite;
}
main{
    margin-top: 20px;
}
#about_cannon{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about2{
    padding-top: 40px;
    padding-bottom: 40px;
}
.abouttwo{
    padding-bottom: 30px;
}
h2,p{
    margin-left: 5%; 
}
/*section number 1 it includes images paragraph and button*/
 #q1 h1{
margin-left: 42%;
font-style: inherit;
font-weight: bolder;
padding: 2%;
}
#q1 h3{
margin-left: 50px;
}
#q1 img{
float: left;
margin-left: 6%;
margin-top: 2%;
width: 20%;
height: 20%;   
}
#r1 p{
float: left;
margin-left:-20%;
margin-top: 27%;
margin-bottom: -2%;   
}
#w1 p{
    margin-left: 35%;
    
}
#q2 h3{
    margin-left: 5%;
}
h2,p{
    margin-left: 5%; 
}
#b1 a{
    margin-left: 47%;
}
#b1 a button{
    font-weight:bolder;
    font-size:larger;
}
.nowbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
/* end of section id q1 */
/* section i1 includes images and booking button */
#i1{
    float: right;
    margin-right: -10%;
    margin-top: -33%;
    height: 40%;
    width: 40%;
}
#i1 h2{
    margin-left: 130px;
}
.container {
    display: flex;
    width: 50vh;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
}
.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  .box > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
.box:hover {
 flex: 1 1 50%; 
}
.box:hover > img {
width: 100%;
height: 100%;
}
.box > span{
    font-size: 3.4vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    font-size: 20px;
}
/* end of section id i1 */


/*section number 2 it includes images paragraph and button*/
#q2 h1{
    margin-left: 42%;
    font-style: inherit;
    font-weight: bolder;
    padding: 2%;
    }
    #q2 h3{
    margin-left: 50px;
    }
    #q2 img{
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
    height: 20%;   
    }
    #r2 p{
    float: left;
    margin-left:-20%;
    margin-top: 27%;
    margin-bottom: -2%;   
    }
    #w2 p{
        margin-left: 35%;
        
    }
    #q2 h3{
        margin-left: 5%;
    }
    h2,p{
        margin-left: 5%; 
    }
    /* end of section id q2 */
    /* section i2 includes images and booking button */
    #i2{
        float: right;
        margin-right: -10%;
        margin-top: -33%;
        height: 40%;
        width: 40%;
    }
    #i2 h2{
        margin-left: 130px;
    }
    .container {
        display: flex;
        width: 50vh;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 50vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
      }
      .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
      }
    .box:hover {
     flex: 1 1 50%; 
    }
    .box:hover > img {
    width: 100%;
    height: 100%;
    }
    .box > span{
        font-size: 3.4vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        font-size: 20px;
    }
    /* end of section id i2 */

/*section number 2 it includes images paragraph and button*/
#q3 h1{
    margin-left: 42%;
    font-style: inherit;
    font-weight: bolder;
    padding: 2%;
    }
    #q3 h3{
    margin-left: 50px;
    }
    #q3 img{
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
    height: 20%;   
    }
    #r3 p{
    float: left;
    margin-left:-20%;
    margin-top: 27%;
    margin-bottom: -2%;   
    }
    #w3 p{
        margin-left: 35%;
        
    }
    #q3 h3{
        margin-left: 5%;
    }
    h2,p{
        margin-left: 5%; 
    }
    /* end of section id q3 */
    /* section i3 includes images and booking button */
    #i3{
        float: right;
        margin-right: -10%;
        margin-top: -33%;
        height: 40%;
        width: 40%;
    }
    #i3 h2{
        margin-left: 130px;
    }
    .container {
        display: flex;
        width: 50vh;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 50vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
      }
      .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
      }
    .box:hover {
     flex: 1 1 50%; 
    }
    .box:hover > img {
    width: 100%;
    height: 100%;
    }
    .box > span{
        font-size: 3.4vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        font-size: 20px;
    }
    /* end of section id i3 */


    /*section number 4 it includes images paragraph and button*/
#q4 h1{
    margin-left: 42%;
    font-style: inherit;
    font-weight: bolder;
    padding: 2%;
    }
    #q4 h3{
    margin-left: 50px;
    }
    #q4 img{
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
    height: 20%;   
    }
    #r4 p{
    float: left;
    margin-left:-20%;
    margin-top: 27%;
    margin-bottom: -2%;   
    }
    #w4 p{
        margin-left: 35%;
        
    }
    #q4 h3{
        margin-left: 5%;
    }
    h2,p{
        margin-left: 5%; 
    }
    /* end of section id q4 */
    /* section i4 includes images and booking button */
    #i4{
        float: right;
        margin-right: -10%;
        margin-top: -33%;
        height: 40%;
        width: 40%;
    }
    #i4 h2{
        margin-left: 130px;
    }
    .container {
        display: flex;
        width: 50vh;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 50vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
      }
      .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
      }
    .box:hover {
     flex: 1 1 50%; 
    }
    .box:hover > img {
    width: 100%;
    height: 100%;
    }
    .box > span{
        font-size: 3.4vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        font-size: 20px;
    }
    /* end of section id i4 */

        /*section number 5 it includes images paragraph and button*/
#q5 h1{
    margin-left: 42%;
    font-style: inherit;
    font-weight: bolder;
    padding: 2%;
    }
    #q5 h3{
    margin-left: 50px;
    }
    #q5 img{
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    width: 20%;
    height: 20%;   
    }
    #r5 p{
    float: left;
    margin-left:-20%;
    margin-top: 27%;
    margin-bottom: -2%;   
    }
    #w5 p{
        margin-left: 35%;
        
    }
    #q5 h3{
        margin-left: 5%;
    }
    h2,p{
        margin-left: 5%; 
    }
    /* end of section id q5 */
    /* section i5 includes images and booking button */
    #i5{
        float: right;
        margin-right: -10%;
        margin-top: -33%;
        height: 40%;
        width: 40%;
    }
    #i5 h2{
        margin-left: 130px;
    }
    .container {
        display: flex;
        width: 50vh;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 50vh;
    }
    .box {
        flex: 1;
        overflow: hidden;
        transition: .5s;
        margin: 0 2%;
        box-shadow: 0 20px 30px rgba(0,0,0,.1);
        line-height: 0;
      }
      .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: .5s;
      }
    .box:hover {
     flex: 1 1 50%; 
    }
    .box:hover > img {
    width: 100%;
    height: 100%;
    }
    .box > span{
        font-size: 3.4vh;
        display: block;
        text-align: center;
        height: 10vh;
        line-height: 2.6;
        font-size: 20px;
    }
    /* end of section id i3 */