
    body{
        margin: 1.5em;

        background-image: linear-gradient(to right,white,rgb(57, 220, 222));
    }
  img{
    
        padding: 20px;
        align-items: center;
        float: left;

    }
    .center1{
        margin-left: 50px;
margin-right: 50px;

    }
    .center2{
        margin-left: 50px;
margin-right: 50px;
margin-top: -180px;

    }
#first{
    text-align:justify;
    font-size: 150%;
}
section{
    text-align:justify;
    font-size: 150%;
}
section,img{
margin: top -500px;;
}
h2{
text-align:center;
}
h1{
text-align: center;
font-weight: 400;
}
footer{
text-align: center;

}
