h1
{
color:cadetblue; 
font-style: oblique;   
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 300%;
}
P{
    BORDER: 2xp solid powderblue;
    padding:30px;
    
}


